<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="sidebar">
      <aside class="sidebar">
        <h3 class="menu-title">My Menu</h3>
       <ul>
		  <li>
		    <a th:href="@{/complaint/register}"
		       th:classappend="${currentPath != null and currentPath.startsWith('/complaint/register')} ? 'active' : ''">
		       ➕ Register New Complaint
		    </a>
		  </li>
		
		  <li>
		    <a th:href="@{/complaint/track}"
		       th:classappend="${currentPath != null and currentPath.startsWith('/complaint/track')} ? 'active' : ''">
		       🧭 Track Complaint
		    </a>
		  </li>
		
		  <li>
		    <a th:href="@{/profile}"
		       th:classappend="${currentPath != null and currentPath.startsWith('/profile')} ? 'active' : ''">
		       👤 Profile
		    </a>
		  </li>
			<li>
			  <a th:href="@{/feedback}"
			     th:classappend="${currentPath != null and currentPath.startsWith('/feedback')} ? 'active' : ''">
			     💬 Feedback
			  </a>
			</li>
		
		  <li>
		    <a th:href="@{/dashboard}"
		       th:classappend="${currentPath.startsWith('/dashboard')} ? 'active' : ''">
		       🏠 Home
		    </a>
		  </li>
	</ul>

      </aside>
    </div>
  </body>
</html>
